<form (ngSubmit)="onSubmit()" #customerForm="ngForm">
  <mat-form-field>
    <input matInput placeholder="姓名" name="customerName" [(ngModel)]="customerRequest.customerName" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="电话号码" type="number" name="customerPhone" [(ngModel)]="customerRequest.customerPhone" required>
  </mat-form-field>
  <button mat-button color="primary" type="submit" [disabled]="!customerForm.form.valid">{{customerRequest.request}}</button>
</form>