上传楼盘图片
<div style="width: 750px;margin: 10px;">
  <angular-file-uploader [config]="imagesUploadConfig" (ApiResponse)="onImagesUploaded($event)"></angular-file-uploader>
</div>

<div style="display: flex;flex-wrap: wrap;width: 100%;">
  <div *ngFor="let url of imageUrls" style="position: relative;margin: 5px;height: 100px;width: 150px;">
    <img style="width: 100%;height: 100%;" [src]="url">
    <button mat-icon-button (click)="removeImageUrl(url)" style="position: absolute;top: 0;right: 0;">
      <mat-icon svgIcon="cancel"></mat-icon>
    </button>
  </div>
</div>

<mat-divider></mat-divider>

<form #realestateForm="ngForm">

  <div class="field-group">
    <mat-form-field>
      <input matInput placeholder="名称" name="name" [(ngModel)]="realestate.name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="售楼电话" name="phone" [(ngModel)]="realestate.phone" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="城市" name="city" [(ngModel)]="realestate.city" required>
    </mat-form-field>
  </div>

  <div class="field-group">
    <mat-form-field>
      <input matInput placeholder="地址" name="address" [(ngModel)]="realestate.address" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="经度" name="longitude" [(ngModel)]="realestate.coordinate.longitude" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="纬度" name="latitude" [(ngModel)]="realestate.coordinate.latitude" required>
    </mat-form-field>
  </div>

  <div class="field-group">
    <mat-form-field>
      <input matInput type="number" placeholder="均价" min="0" name="price" [(ngModel)]="realestate.price" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="团购价" name="group-price" [(ngModel)]="realestate.groupPrice" required>
    </mat-form-field>
  </div>

  <div class="field-group">
    <mat-form-field>
      <input matInput type="number" placeholder="红包金额" min="0" name="redpocket-amount" [(ngModel)]="realestate.redpocket.amount" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="红包开始日期" name="redpocket-startdate" [(ngModel)]="realestate.redpocket.startDate" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="红包截止日期" name="redpocket-enddate" [(ngModel)]="realestate.redpocket.endDate" required>
    </mat-form-field>
  </div>

  <div class="field-group">
    <mat-form-field>
      <input matInput type="number" placeholder="置业顾问电话" name="consultant-phone" [(ngModel)]="realestate.consultant.phone" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="置业顾问简介" name="consultant-description" [(ngModel)]="realestate.consultant.description" required>
    </mat-form-field>
  </div>

  <div class="field-group">
    <mat-form-field>
      <input matInput placeholder="班车看房" name="visitservices-taxi" [(ngModel)]="realestate.visitServices.taxi" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="自驾报销" name="visitservices-reimburse" [(ngModel)]="realestate.visitServices.reimburse" required>
    </mat-form-field>
  </div>

  <div class="field-group">
    <mat-form-field>
      <mat-chip-list #relatedRealestateList>
        <mat-chip *ngFor="let id of realestate.relatedRealestateIds" [selectable]="true" [removable]="true" (removed)="removeRelatedRealestate(id)">
          {{id}}
          <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
        </mat-chip>
        <input placeholder="相关房产"
          [matChipInputFor]="relatedRealestateList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="addRelatedRealestate($event)" required>
      </mat-chip-list>
    </mat-form-field>
  </div>


  <mat-divider></mat-divider>

  上传楼盘信息图片
  <div style="width: 750px;margin: 10px;">
    <angular-file-uploader [config]="descriptionImageUploadConfig" (ApiResponse)="onDescriptionImageUploaded($event)"></angular-file-uploader>
  </div>
  

  <div *ngIf="descriptionImageUrl" style="max-width: 700px;max-height: 700px;overflow: auto;position: relative;">
    <img style="width: 100%;" [src]="descriptionImageUrl">
    <button mat-icon-button (click)="removeDescriptionImageUrl()" style="position: absolute;top: 0;right: 0;">
      <mat-icon svgIcon="cancel"></mat-icon>
    </button>
  </div>

  
  <mat-divider></mat-divider>


  <div *ngFor="let comment of realestate.comments; index as i" class="field-group">
    <mat-form-field>
      <input matInput placeholder="用户名" name="account_{{i}}" [(ngModel)]="comment.account" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="评论" name="text_{{i}}" [(ngModel)]="comment.text" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="日期" name="date_{{i}}" [(ngModel)]="comment.date" required>
    </mat-form-field>
    <button mat-button color="warn" (click)="removeComment(i)">删除评论</button>
  </div>

  <div class="field-group">
    <button mat-button color="primary" (click)="addEmptyComment()">添加用户评论</button>
  </div>


  <mat-divider></mat-divider>


  <div *ngFor="let news of realestate.news; index as i" class="field-group">
    <mat-form-field>
      <input matInput placeholder="标题" name="title_{{i}}" [(ngModel)]="news.title" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="网址" name="url_{{i}}" [(ngModel)]="news.url" required>
    </mat-form-field>
    <button mat-button color="warn" (click)="removeNews(i)">删除新闻</button>
  </div>

  <div class="field-group">
    <button mat-button color="primary" (click)="addNews()">添加新闻</button>
  </div>


  
  <mat-divider></mat-divider>

  <div class="field-group">
    <button *ngIf="!realestate._id" mat-button (click)="saveNewRealestate()" [disabled]="!realestateForm.form.valid || imageUrls.length === 0" color="primary">创建新房产</button>
    <button *ngIf="realestate._id" mat-button (click)="updateRealestate()" [disabled]="!realestateForm.form.valid || !realestate._id || imageUrls.length === 0" color="primary">更新房产信息</button>
    <button mat-button (click)="clearRealestateToEdit()" color="primary">清空表格</button>
  </div>

</form>