table {
  width: 100%;
}

.mat-form-field {
  width: 100%;
  padding: 20px;
}

form {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.file-uploader-container {
  margin-top: 20px;
}

.form-submit {
  margin-top: 20px;
}
