<mat-tab-group [(selectedIndex)]="selectedTabIndex">

  <mat-tab label="所有房产">
    <mat-form-field>
      <input matInput (keyup)="applyRealestateFilter($event.target.value)" placeholder="搜索">
    </mat-form-field>
    
    <table mat-table [dataSource]="realestateDataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>房产名</th>
        <td mat-cell *matCellDef="let realestate">{{realestate.name}}</td>
      </ng-container>
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let realestate"><a [routerLink]="['/realestate', realestate._id]" target="_blank"><button color="primary" mat-button>查看</button></a></td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let realestate"><button color="primary" mat-button (click)="loadRealestateToEdit(realestate._id)">编辑</button></td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let realestate"><button color="warn" mat-button (click)="deleteRealestate(realestate._id)">删除</button></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="realestateDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: realestateDisplayedColumns;"></tr>
    </table>   
  </mat-tab>



  <mat-tab label="编辑房产">
    <div class="file-uploader-container">
      <angular-file-uploader [config]="afuConfig" (ApiResponse)="addImageFromUpload($event)"></angular-file-uploader>
    </div>
    <form #realestateForm="ngForm">
      <mat-form-field>
        <mat-chip-list #imageList>
          <mat-chip *ngFor="let image of realestate.images" [selectable]="true" [removable]="true" (removed)="removeImage(image)">
            {{image}}
            <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
          </mat-chip>
          <input placeholder="图片"
            [matChipInputFor]="imageList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addImage($event)" required>
        </mat-chip-list>
      </mat-form-field>
          
      <table>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="名称" type="text" name="name" [(ngModel)]="realestate.name" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput type="text" placeholder="地址" name="address" [(ngModel)]="realestate.address" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput type="number" placeholder="售楼电话" name="phone" [(ngModel)]="realestate.phone" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput type="number" placeholder="均价" min="0" name="price" [(ngModel)]="realestate.price" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput type="text" placeholder="团购价" name="group-price" [(ngModel)]="realestate.groupPrice" required>
            </mat-form-field>
          </td>
        </tr>
        <tr *ngIf="realestate.redpocket; let redpocket">
          <td>
            <mat-form-field>
              <input matInput type="number" placeholder="红包金额" min="0" name="redpocket-amount" [(ngModel)]="redpocket.amount" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput type="text" placeholder="红包开始日期" name="redpocket-startdate" [(ngModel)]="redpocket.startDate" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput type="text" placeholder="红包截止日期" name="redpocket-enddate" [(ngModel)]="redpocket.endDate" required>
            </mat-form-field>
          </td>
        </tr>
        <tr *ngIf="realestate.consultant; let consultant">
          <td>
            <mat-form-field>
              <input matInput type="text" placeholder="置业顾问名称" name="consultant-title" [(ngModel)]="consultant.title" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput type="number" placeholder="置业顾问电话" name="consultant-phone" [(ngModel)]="consultant.phone" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput type="text" placeholder="置业顾问简介" name="consultant-description" [(ngModel)]="consultant.description" required>
            </mat-form-field>
          </td>
        </tr>
        <tr *ngIf="realestate.visitServices; let service">
          <td>
            <mat-form-field>
              <input matInput type="text" placeholder="班车看房" name="visitservices-taxi" [(ngModel)]="service.taxi" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput type="text" placeholder="自驾报销" name="visitservices-reimburse" [(ngModel)]="service.reimburse" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    
      <mat-form-field>
        <mat-chip-list #relatedRealestateList>
          <mat-chip *ngFor="let id of realestate.relatedRealestateIds" [selectable]="true" [removable]="true" (removed)="removeRelatedRealestate(id)">
            {{id}}
            <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
          </mat-chip>
          <input placeholder="相关房产"
            [matChipInputFor]="relatedRealestateList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addRelatedRealestate($event)" required>
        </mat-chip-list>
      </mat-form-field>
    
      <mat-form-field>
        <textarea matInput placeholder="楼盘信息" name="description" [(ngModel)]="realestate.description" required></textarea>
      </mat-form-field>
    
      <table>
        <tr *ngFor="let comment of realestate.comments; index as i">
          <td>
            <mat-form-field>
              <input matInput placeholder="用户名" name="account_{{i}}" [(ngModel)]="comment.account" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput placeholder="评论" name="text_{{i}}" [(ngModel)]="comment.text" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput placeholder="日期" name="date_{{i}}" [(ngModel)]="comment.date" required>
            </mat-form-field>
          </td>
          <td>
            <button mat-button color="warn" (click)="removeComment(i)">删除评论</button>
          </td>        
        </tr>
      </table>
    
      <button mat-button color="primary" (click)="addEmptyComment()">添加用户评论</button>
    
      <mat-divider></mat-divider>
    
      <div class="flex-container form-submit">
        <button mat-button type="submit" (click)="saveNewRealestate()" [disabled]="!realestateForm.form.valid" color="primary">创建新房产</button>
        <button mat-button type="submit" (click)="updateRealestate()" [disabled]="!realestateForm.form.valid || !realestate._id" color="primary">更新房产信息</button>
        <button mat-button (click)="clearRealestateToEdit()" color="primary">清空表格</button>
      </div>
    </form>
  </mat-tab>


  <mat-tab label="所有客户">
    <mat-form-field>
      <input matInput (keyup)="applyCustomerFilter($event.target.value)" placeholder="搜索">
    </mat-form-field>
    
    <table mat-table [dataSource]="customerDataSource" class="mat-elevation-z8">
    
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>电话</th>
        <td mat-cell *matCellDef="let customer">{{customer.phone}}</td>
      </ng-container>
    
      <ng-container matColumnDef="realestate">
        <th mat-header-cell *matHeaderCellDef>房产</th>
        <td mat-cell *matCellDef="let customer">{{customer.realestateName}}</td>
      </ng-container>

      <ng-container matColumnDef="request">
        <th mat-header-cell *matHeaderCellDef>需求</th>
        <td mat-cell *matCellDef="let customer">{{customer.request}}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="customerDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: customerDisplayedColumns;"></tr>
    </table>   
  </mat-tab>

</mat-tab-group>