p.indent {
  text-indent: 2em;
}

mat-toolbar.fixed {
  position: fixed;
  z-index: 9999;
}

mat-toolbar-row {
  padding: 0;
  justify-content: space-between;
  height: 36px;
}

.mat-toolbar-multiple-rows {
  min-height: 0px;
}

mat-toolbar.top {
  top: 0;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

mat-toolbar.bottom {
  bottom: 0;
  box-shadow: 0 -3px 5px -1px rgba(0,0,0,.2), 0 -6px 10px 0 rgba(0,0,0,.14), 0 -1px 18px 0 rgba(0,0,0,.12);
}

mat-card {
  top: 37px;
  max-width: 650px;
  padding: 0;
  bottom: 37px;
}

mat-card-header {
  margin: 24px;
}

mat-card-content {
  margin: 24px 16px 24px 16px;
}

mat-card-actions {
  margin-left: 24px;
  margin-right: 24px;
}

mat-icon {
  vertical-align: bottom;
  margin-left: 10px;
  margin-right: 10px;
}

.horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  margin-left: 0;
  margin-right: 0;
}

.padding {
  padding: 15px;
}

.font-big {
  font-size: 1.3em;
}

.font-small {
  font-size: 0.8em;
}

.font-light {
  font-weight: lighter;
}

.font-normal {
  font-weight: initial;
}

.red {
  color: red;
}

.black {
  color: black;
}

.white {
  color: white;
}

.grey {
  color: rgba(0,0,0,.54)
}

.blue {
  color: rgb(29, 116, 230)
}

.color-green {
  color: limegreen;
}

.redpocket {
  width: 120px;
  margin: 10px;
  cursor: pointer;
}

.background-red {
  background-color: rgb(228, 0, 0);
  color: white;
}

.background-white {
  background-color: white;
  color: black;
}

.text-center {
  text-align: center;
}

p.comment, mat-card-subtitle.comment {
  margin-left: 12px;
}

button.margin-left {
  margin-left: 0px;
}

mat-grid-list.related-realestate {
  margin: 26px;
}