p {
  text-indent: 2em;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 9999;
  min-height: 45px;
  max-height: 45px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

mat-card {
  top: 60px;
  max-width: 650px;
  padding-left: 0;
  padding-right: 0;
}

mat-card-header {
  margin-left: 24px;
  margin-right: 24px;
}

mat-card-content {
  margin: 24px 16px 24px 16px;
}

mat-card-actions {
  margin-left: 24px;
  margin-right: 24px;
}

mat-icon {
  vertical-align: bottom;
  margin-left: 10px;
  margin-right: 10px;
}

.mat-warn {
  background: rgb(228, 0, 0);
  color: white;
}

.horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  margin-left: 0;
  margin-right: 0;
}

.padding {
  padding: 15px;
}

.font-big {
  font-size: 2em;
}

.font-light {
  font-weight: initial;
}

.color-red {
  color: red;
}

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.color-grey {
  color: rgba(0,0,0,.54)
}

.color-green {
  color: limegreen;
}
