<div class="toolbar top" *ngIf="realestate">
  <button mat-button>返回</button>
  <span>{{realestate.name}}</span>
  <button mat-button>地图找房</button>
</div>

<div class="content" *ngIf="realestate">

  <div class="section no-padding">
    <slideshow [imageUrls]="images" [backgroundSize]="'contain'" [height]="'300px'" [autoPlay]="true" [showDots]="true" [arrowSize]="'20px'"></slideshow>
  </div>

  <div class="section side-by-side no-padding no-margin-bottom">
    <div class="padding">
      <div class="title">{{realestate.name}}</div>
      <table>
        <tr>
          <td class='table-row-name'>均价：</td>
          <td><span class="red">{{realestate.price}}</span>元/平米</td>
        </tr>
        <tr>
          <td class='table-row-name'>开盘：</td>
          <td>在售中</td>
        </tr>
        <tr>
          <td class='table-row-name'>折扣：</td>
          <td>新房红包</td>
        </tr>
        <tr>
          <td class='table-row-name'>地址：</td>
          <td>{{realestate.address}}</td>
        </tr>
      </table>
    </div>
    <div>
      <div class="flex-row flex-wrap padding space-evenly background-red">
        <span>新房红包 抵扣房款</span>
        <span>新房红包{{realestate.redpocket.amount}}元</span>
        <button mat-button class="background-yellow" (click)="openCustomerRequestDialog('领取红包')">立即领取</button>
      </div>
      <div class="note">签约有效期：{{realestate.redpocket.startDate}} - {{realestate.redpocket.endDate}}</div>
      <div class="note">购房红包，数量有限，请尽快领取</div>
    </div>
  </div>
  
  <div class="section side-by-side background-red no-margin-bottom">
    <div class="content-horizontal-center">
      <div>团购价 ￥{{realestate.groupPrice}}</div>
      <button class="background-yellow" mat-button (click)="openCustomerRequestDialog('团购看房')">预约团购看房</button>
    </div>
    <div class="content-horizontal-center">
      <div>团购看房前参加有效</div>
      <div>{{groupPriceTimer.days}}天 {{groupPriceTimer.hours}}时 {{groupPriceTimer.minutes}}分 {{groupPriceTimer.seconds}}秒</div>
      <div>120人参加</div>
    </div>
  </div>
 

  <div class="section no-margin-bottom">
    <span class="section-title">售楼处：</span>
    <span class="phone">{{realestate.phone}}</span>
    <a href="tel:{{realestate.phone}}"><mat-icon class="green" svgIcon="phone"></mat-icon></a>
    <div>最新政策，更多优惠详情，请致电售楼处[120人拨打]</div>
  </div>

  <div class="section">
    <span class="section-title">置业顾问：</span>
    <span class="phone">{{realestate.consultant.phone}}</span>
    <a href="tel:{{realestate.consultant.phone}}"><mat-icon class="green" svgIcon="phone"></mat-icon></a>
    <div>{{realestate.consultant.description}}</div>
  </div>


  <div class="section">
    <div class="section-title">楼盘信息</div>
    <p class="indent" *ngFor="let paragraph of description">
      {{paragraph}}
    </p>
  </div>

  <div class="section">
    <div class="section-title">楼盘动态</div>
    <a *ngFor="let news of realestate.news" [href]="news.url" target="_blank">{{news.title}}</a>
  </div>

  <div class="section">
    <div class="section-title">楼盘服务</div>
    <div class="flex-row no-justify-content margin-bottom"><button class="service-button background-green" (click)="openCustomerRequestDialog('免费班车')" mat-raised-button>免费班车</button><span>{{realestate.visitServices.taxi}}</span></div>
    <div class="flex-row no-justify-content margin-bottom"><button class="service-button background-green" (click)="openCustomerRequestDialog('自驾报销')" mat-raised-button>自驾报销</button><span>{{realestate.visitServices.reimburse}}</span></div>
  </div>


  <div class="section">
    <div class="section-title">卫星地图</div>
    <div class="map-container">
      <abm-map #map [options]="mapOptions" (ready)="markRealestateInMap($event)"></abm-map>
    </div>
  </div>
 

  <div class="section">
    <div class="section-title">用户点评(232)</div>
  </div>

  <div class="section" *ngFor="let comment of realestate.comments">
    <div><mat-icon svgIcon="account"></mat-icon><span class="blue">{{comment.account}}</span></div>
    <p class="comment">{{comment.text}}</p>
    <div class="comment">{{comment.date}}</div>
  </div>


  <div class="section">
    <div class="section-title">周边楼盘</div>
    <a *ngFor="let realestate of relatedRealestates" [routerLink]="['/realestate', realestate._id]" target="_blank">
      <div class="realestate-thumbnail">
        <img [src]="realestate.images[0]" class="thumbnail-image">
        <div class="thumbnail-description">
          <div>{{realestate.name}}</div>
          <div class="address">{{realestate.address}}</div>
          <div class="price">￥{{realestate.price}}</div>
        </div>
      </div>
    </a>
  </div>


  <div class="toolbar"></div>
</div>


<div class="toolbar bottom" *ngIf="realestate">
  <button mat-button (click)="openCustomerRequestDialog('获取楼盘价格表')">获取楼盘价格表</button>
  <button mat-button (click)="openCustomerRequestDialog('领取红包')">新房红包</button>
  <button mat-button (click)="openCustomerRequestDialog('预约团购看房')">团购看房</button>
  <a href="tel:{{realestate.consultant.phone}}" class="red"><button mat-button>电话咨询</button></a>
</div>

<div *ngIf="images && showFullscreenImages" class="dialog">
  <div (click)="showFullscreenImages = false" style="width: 100%;height: 100px;"></div>
  <div style="width: 100%;height: calc(100% - 200px);background-color: black;">
    <slideshow #fullscreenSlideshow [backgroundSize]="'contain'" [imageUrls]="imageUrls" [autoPlay]="false" [showDots]="true" [arrowSize]="'20px'"></slideshow>
  </div>
  <div (click)="showFullscreenImages = false" style="width: 100%;height: 100px;"></div>
</div>
