<angular-file-uploader [config]="afuConfig" (ApiResponse)="onImagesUploaded($event)"></angular-file-uploader>

<form (ngSubmit)="onSubmit()" #realestateForm="ngForm">
  <mat-form-field>
    <input matInput placeholder="名称" type="text" name="name" [(ngModel)]="realestate.name" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="地址" name="address" [(ngModel)]="realestate.address" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="价格" min="0" name="price" [(ngModel)]="realestate.price" required>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="简介" name="description" [(ngModel)]="realestate.description" required></textarea>
  </mat-form-field>

  <button type="submit" [disabled]="!realestateForm.form.valid || realestate.images.length === 0" class="btn btn-success">提交</button>
</form>

<a href="http://localhost:4200/realestate/{{realestate._id}}" *ngIf="realestate._id">已保存房产 {{realestate._id}}</a>


