<angular-file-uploader [config]="afuConfig" (ApiResponse)="addImageFromUpload($event)"></angular-file-uploader>

<form #realestateForm="ngForm">

  <mat-form-field>
    <mat-chip-list #imageList>
      <mat-chip *ngFor="let image of realestate.images" [selectable]="true" [removable]="true" (removed)="removeImage(image)">
        {{image}}
        <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
      </mat-chip>
      <input placeholder="图片"
        [matChipInputFor]="imageList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addImage($event)" required>
    </mat-chip-list>
  </mat-form-field>
      
  <table>
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="名称" type="text" name="name" [(ngModel)]="realestate.name" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="text" placeholder="地址" name="address" [(ngModel)]="realestate.address" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="tel" placeholder="售楼电话" name="phone" [(ngModel)]="realestate.phone" required>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input matInput type="number" placeholder="均价" min="0" name="price" [(ngModel)]="realestate.price" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="text" placeholder="团购价" name="group-price" [(ngModel)]="realestate.groupPrice" required>
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="realestate.redpocket; let redpocket">
      <td>
        <mat-form-field>
          <input matInput type="number" placeholder="红包金额" min="0" name="redpocket-amount" [(ngModel)]="redpocket.amount" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="text" placeholder="红包开始日期" name="redpocket-startdate" [(ngModel)]="redpocket.startDate" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="text" placeholder="红包截止日期" name="redpocket-enddate" [(ngModel)]="redpocket.endDate" required>
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="realestate.consultant; let consultant">
      <td>
        <mat-form-field>
          <input matInput type="text" placeholder="置业顾问名称" name="consultant-title" [(ngModel)]="consultant.title" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="tel" placeholder="置业顾问电话" name="consultant-phone" [(ngModel)]="consultant.phone" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="text" placeholder="置业顾问简介" name="consultant-description" [(ngModel)]="consultant.description" required>
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="realestate.visitServices; let service">
      <td>
        <mat-form-field>
          <input matInput type="text" placeholder="班车看房" name="visitservices-taxi" [(ngModel)]="service.taxi" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="text" placeholder="自驾报销" name="visitservices-reimburse" [(ngModel)]="service.reimburse" required>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <mat-form-field>
    <mat-chip-list #relatedRealestateList>
      <mat-chip *ngFor="let id of realestate.relatedRealestateIds" [selectable]="true" [removable]="true" (removed)="removeRelatedRealestate(id)">
        {{id}}
        <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
      </mat-chip>
      <input placeholder="相关房产"
        [matChipInputFor]="relatedRealestateList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addRelatedRealestate($event)" required>
    </mat-chip-list>
  </mat-form-field>


  <mat-form-field>
    <textarea matInput placeholder="楼盘信息" name="description" [(ngModel)]="realestate.description" required></textarea>
  </mat-form-field>

  <table>
    <tr *ngFor="let comment of realestate.comments; index as i">
      <td>
        <mat-form-field>
          <input matInput placeholder="用户名" name="account_{{i}}" [(ngModel)]="comment.account" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="评论" name="text_{{i}}" [(ngModel)]="comment.text" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="日期" name="date_{{i}}" [(ngModel)]="comment.date" required>
        </mat-form-field>
      </td>
      <td>
        <button mat-button color="warn" (click)="removeComment(i)">删除评论</button>
      </td>        
    </tr>
  </table>

  <button mat-button color="primary" (click)="addEmptyComment()">添加用户评论</button>


  <mat-divider></mat-divider>

  <div class="flex-container">
    <button mat-button type="submit" (click)="addRealestate()" [disabled]="!realestateForm.form.valid" color="primary">新建房产</button>
    <button *ngIf="realestate._id" mat-button type="submit" (click)="updateRealestate()" [disabled]="!realestateForm.form.valid" color="primary">更新房产</button>
  </div>
</form>
