<div class="content">
  <div class="section title-container">
    <div class="flex-row">
      <span class="title">房住网 有房住</span>
    </div>
    <div class="flex-row search">
      <mat-form-field class="select-city">
        <mat-select [(value)]="cities[0]">
          <mat-option *ngFor="let city of cities" [value]="city">
            {{city}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="select-realestate" *ngIf="filteredRealestates">
        <input type="text" placeholder="楼盘名称" aria-label="realestate" matInput [formControl]="realestateControl" [matAutocomplete]="realestateAutocomplete">
        <mat-autocomplete autoActiveFirstOption #realestateAutocomplete="matAutocomplete" [displayWith]="displayRealestate">
          <mat-option *ngFor="let realestate of filteredRealestates | async" [value]="realestate">
            {{realestate.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-button>地图</button>
    </div>
  </div>


  <div class="section">
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile
        *ngFor="let button of buttons"
        [colspan]="1"
        [rowspan]="1">
        <div class="flex-column">
          <img [src]="'assets/' + button.image + '.svg'">
          <div>{{button.name}}</div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <div class="section">
    <div class="section-title">最火新盘</div>
    <a *ngFor="let realestate of realestates" [routerLink]="['/realestate', realestate._id]" target="_blank">
      <div class="realestate-thumbnail">
        <img [src]="realestate.images[0]" class="thumbnail-image">
        <div class="thumbnail-description">
          <div>{{realestate.name}}</div>
          <div class="address">{{realestate.address}}</div>
          <div class="price">￥{{realestate.price}}</div>
        </div>
      </div>
    </a>
  </div>

  <div class="section">
    <div class="section-title">性价比二手房</div>
    <a *ngFor="let realestate of realestates" [routerLink]="['/realestate', realestate._id]" target="_blank">
      <div class="realestate-thumbnail">
        <img [src]="realestate.images[0]" class="thumbnail-image">
        <div class="thumbnail-description">
          <div>{{realestate.name}}</div>
          <div class="address">{{realestate.address}}</div>
          <div class="price">￥{{realestate.price}}</div>
        </div>
      </div>
    </a>
  </div>

  <div class="section">
    <div class="section-title">推荐出租房</div>
    <a *ngFor="let realestate of realestates" [routerLink]="['/realestate', realestate._id]" target="_blank">
      <div class="realestate-thumbnail">
        <img [src]="realestate.images[0]" class="thumbnail-image">
        <div class="thumbnail-description">
          <div>{{realestate.name}}</div>
          <div class="address">{{realestate.address}}</div>
          <div class="price">￥{{realestate.price}}</div>
        </div>
      </div>
    </a>
  </div>

  <div class="section">
    <div class="section-title">楼市动态</div>
    <div *ngFor="let line of news" class="news"><a [href]="line.url" target="_blank">{{line.title}}</a></div>
  </div>

  <div class="section">
    <div class="section-title">热门城市</div>
    <div class="cities">
      <button *ngFor='let city of cities' mat-button>{{city}}</button>
    </div>
  </div>

  <div class="section">
    <div class="flex-row">
      <button mat-button>登录/注册</button>
      <button mat-button>电脑版</button>
      <button mat-button>意见反馈</button>
      <button (click)="openAboutDialog()" mat-button>关于我们</button>
    </div>
    <div class="disclaim">
      网络经营许可证 苏ICP备18040449号
    </div>
  </div>

</div>
