<div class="content">
  <div class="section">
    <div class="flex-row">
      <span class="title">房住网 房住不炒</span>
    </div>
    <div class="flex-row">
      <div class="flex-row">
        <mat-form-field *ngIf="filteredCities">
          <input type="text" placeholder="城市" aria-label="city" matInput [formControl]="cityControl" [matAutocomplete]="cityAutocomplete">
          <mat-autocomplete autoActiveFirstOption #cityAutocomplete="matAutocomplete">
            <mat-option *ngFor="let city of filteredCities | async" [value]="city">
              {{city}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field *ngIf="filteredRealestates">
          <input type="text" placeholder="楼盘名称" aria-label="realestate" matInput [formControl]="realestateControl" [matAutocomplete]="realestateAutocomplete">
          <mat-autocomplete autoActiveFirstOption #realestateAutocomplete="matAutocomplete" [displayWith]="displayRealestate">
            <mat-option *ngFor="let realestate of filteredRealestates | async" [value]="realestate">
              {{realestate.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-button>地图</button>
      </div>
    </div>
  </div>


  <div class="section">
    <div class="flex-row">
      <button mat-button>新房</button>
      <button mat-button>二手房</button>
      <button mat-button>租房</button>
      <button mat-button>卖房</button>
    </div>
    <div class="flex-row">
      <button mat-button>求购房源</button>
      <button mat-button>装修</button>
      <button mat-button>计算器</button>
      <button mat-button>地图找房</button>
    </div>
  </div>


  <div class="section">
    <div class="section-title">最火新盘</div>
    <div *ngFor="let realestate of realestates" class="realestate-thumbnail">
      <img [src]="realestate.images[0]" class="thumbnail-image">
      <div class="thumbnail-description">
        <div>{{realestate.name}}</div>
        <div class="address">{{realestate.address}}</div>
        <div class="price">￥{{realestate.price}}</div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-title">性价比二手房</div>
    <div *ngFor="let realestate of realestates" class="realestate-thumbnail">
      <img [src]="realestate.images[0]" class="thumbnail-image">
      <div class="thumbnail-description">
        <div>{{realestate.name}}</div>
        <div class="address">{{realestate.address}}</div>
        <div class="price">￥{{realestate.price}}</div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-title">推荐出租房</div>
    <div *ngFor="let realestate of realestates" class="realestate-thumbnail">
      <img [src]="realestate.images[0]" class="thumbnail-image">
      <div class="thumbnail-description">
        <div>{{realestate.name}}</div>
        <div class="address">{{realestate.address}}</div>
        <div class="price">￥{{realestate.price}}</div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-title">楼市动态</div>
  </div>

  <div class="section">
    <div class="section-title">热门城市</div>
    <div class="cities">
      <button *ngFor='let city of cities' mat-button>{{city}}</button>
    </div>
  </div>

  <div class="section">
    <div class="flex-row">
      <button mat-button>登录/注册</button>
      <button mat-button>电脑版</button>
      <button mat-button>意见反馈</button>
      <button mat-button>关于我们</button>
    </div>
    <div class="disclaim">
      网络经营许可证 苏ICP备18040449号
    </div>
  </div>

</div>
