<div class="content">
  <div class="section">
    <div class="flex-row">
      <span class="title">房住网 房住不炒</span>
    </div>
    <div class="flex-row">
      <div class="flex-row">
        <mat-form-field>
          <input type="text" placeholder="城市" aria-label="city" matInput [formControl]="cityControl" [matAutocomplete]="cities">
          <mat-autocomplete autoActiveFirstOption #cities="matAutocomplete">
            <mat-option *ngFor="let city of filteredCities | async" [value]="city">
              {{city}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="楼盘名称" aria-label="realestate" matInput [formControl]="realestateControl" [matAutocomplete]="realestates">
          <mat-autocomplete autoActiveFirstOption #realestates="matAutocomplete" [displayWith]="displayRealestate">
            <mat-option *ngFor="let realestate of filteredRealestates | async" [value]="realestate">
              {{realestate.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-button>地图</button>
      </div>
    </div>
  </div>


  <div class="section">
    <div class="flex-row">
      <button mat-button>新房</button>
      <button mat-button>二手房</button>
      <button mat-button>租房</button>
      <button mat-button>卖房</button>
    </div>
    <div class="flex-row">
      <button mat-button>求购房源</button>
      <button mat-button>装修</button>
      <button mat-button>计算器</button>
      <button mat-button>地图找房</button>
    </div>
  </div>


  <div class="section">
    <mat-card-subtitle class="section-title">最火新盘</mat-card-subtitle>
  </div>

  <div class="section">
    <mat-card-subtitle class="section-title">性价比二手房</mat-card-subtitle>
  </div>

  <div class="section">
    <mat-card-subtitle class="section-title">推荐出租房</mat-card-subtitle>
  </div>

  <div class="section">
    <mat-card-subtitle class="section-title">楼市动态</mat-card-subtitle>
  </div>

  <div class="section">
    <mat-card-subtitle class="section-title">热门城市</mat-card-subtitle>
  </div>

</div>